# Data Science Job Market in India.

![image.png](attachment:image.png)

In [ ]:
#import necessary packages
import time
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from operator import itemgetter

In [ ]:
df = pd.read_csv("DataScience_jobs.csv", index_col=0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1282 entries, 0 to 1281
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   roles       1282 non-null   object
 1   companies   1282 non-null   object
 2   locations   1282 non-null   object
 3   experience  1282 non-null   object
 4   skills      1279 non-null   object
dtypes: object(5)
memory usage: 60.1+ KB

In [ ]:
df = df.dropna()

In [ ]:
df = df.apply(lambda x: x.astype(str).str.lower())

In [ ]:
df['skills'] = df['skills'].apply(lambda x: x.split('\n'))

In [ ]:
#lets convert the skills column into a seperate DataFrame, which makes things easy for preo processing
df_skills=pd.DataFrame(df.skills.apply(pd.Series).stack().value_counts()).reset_index()
df_skills.columns=["skills","count"]
df_skills.head()

             skills  count
0  machine learning    688
1      data science    412
2            python    290
3       data mining    266
4         analytics    197

In [ ]:
df_skills_relev=df_skills.head(20)
total=df_skills_relev['count'].sum()
print(total)

3973

In [ ]:
def findweight(row):
    return (row['count']/total) * 100

In [ ]:
df_skills_relev['weightage']=df_skills_relev.apply(lambda row: findweight(row), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
weight_dict=dict(zip(df_skills_relev.skills,df_skills_relev.weightage))
print(weight_dict)

{'machine learning': 17.316889000755097, 'data science': 10.36999748301032, 'python': 7.2992700729927, 'data mining': 6.695192549710546, 'analytics': 4.9584696702743525, 'artificial intelligence': 4.832620186257237, 'r': 4.631261011829851, 'data scientist': 4.555751321419582, 'computer science': 4.354392146992198, 'data analysis': 3.9013340045305815, 'nlp': 3.674804933299773, 'sas': 3.64963503649635, 'deep learning': 3.4734457588723884, 'analytical': 3.372766171658696, 'sql': 3.2469166876415807, 'data analytics': 2.9700478228039264, 'statistics': 2.7435187515731188, 'big data': 2.7183488547696957, 'data management': 2.642839164359426, 'predictive modeling': 2.59249937075258}

In [ ]:
personal_skills=['machine learning','data science','analytics','data mining']
percent=0

In [ ]:
for i in personal_skills:
    percent+= weight_dict[i]
print(percent)

39.340548703750315